<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HansKindberg.ServiceModel" version="1.0.0-alpha-1" targetFramework="net35" />
  <package id="HansKindberg.ServiceModel.IoC.StructureMap" version="1.0.0-alpha-1" targetFramework="net35" />
  <package id="structuremap" version="2.6.3" targetFramework="net35" />
</packages>