<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap"/>
	</configSections>
	<location path=".">
		<system.web>
			<compilation debug="true" targetFramework="4.0" />
		</system.web>
	</location>
	<StructureMap>
		<Registry Type="WebApplication.IoCRegistry, WebApplication"/>
	</StructureMap>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<bootstrapper type="WebApplication.ServiceBootstrapper, WebApplication"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="bootstrapper" type="HansKindberg.ServiceModel.Configuration.BootstrapperElement, HansKindberg.ServiceModel, Version=1.0.0.1, Culture=neutral, PublicKeyToken=8d368c2da66412b2"/>
			</behaviorExtensions>
		</extensions>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>